In [19]:
import mysql.connector
from mysql.connector import errorcode

try:
    conn = mysql.connector.connect(user='admin',password='admin123',host = 'dbshack-loan-database.cywxthrilvw1.ap-southeast-1.rds.amazonaws.com',database='loan_management')
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
cursor = conn.cursor()
query = ("SELECT * FROM customer")
cursor.execute(query)
for data in cursor:
    print(data)

(1, 'Farrah Dobbie', '3688961901', '49862 Kingsford Junction', Decimal('69687.54'))
(2, 'Malcolm Orbell', '8867727382', '385 Lawn Terrace', Decimal('55592.51'))
(3, 'Filippa Bucknill', '6677805329', '1898 Michigan Road', Decimal('53826.01'))
(4, 'Dido Vanezis', '2887691797', '57689 Myrtle Park', Decimal('30581.83'))
(5, 'Annelise Aspland', '2096293966', '3922 Cherokee Place', Decimal('87026.91'))
(6, 'Herminia Newby', '8111478402', '19 Chive Center', Decimal('5414.47'))
(7, 'Lind Hanley', '7504959822', '7534 Village Green Center', Decimal('25921.26'))
(8, 'Mimi Gilhooley', '6594140488', '16033 Pond Avenue', Decimal('62834.94'))
(9, 'Ileana Parkes', '1281389203', '095 Warner Hill', Decimal('76939.31'))
(10, 'Larissa Yeldham', '2812360584', '220 Shopko Parkway', Decimal('15790.59'))

In [20]:
import mysql.connector
from mysql.connector import errorcode

def getBalance(id):
    try:
        conn = mysql.connector.connect(user='admin',password='admin123',host = 'dbshack-loan-database.cywxthrilvw1.ap-southeast-1.rds.amazonaws.com',database='loan_management')
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif err.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(err)
    query = ("SELECT customer_name,balance FROM customer WHERE CustomerId = %s")
    cursor = conn.cursor()
    cursor.execute(query,(id,))
    for (name,balance) in cursor:
        return balance
               
print(getBalance("1"))

2.00

In [21]:
import mysql.connector
from mysql.connector import errorcode

def getLoanAmtSum(id):
    try:
        conn = mysql.connector.connect(user='admin',password='admin123',host = 'dbshack-loan-database.cywxthrilvw1.ap-southeast-1.rds.amazonaws.com',database='loan_management')
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif err.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(err)
    query = ("SELECT customer_name,SUM(loan_amount) FROM customer INNER JOIN customerloan ON customer.CustomerId=customerloan.CustomerId INNER JOIN loan on customerloan.LoanId = loan.LoanId WHERE customer.CustomerId = %s")
    cursor = conn.cursor()
    cursor.execute(query,(id,))
    for (name,loan_amount) in cursor:
        return loan_amount
               
print(getLoanAmtSum("8"))

276443.40